@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: 0;
}



.top-bar {
    width: 100%; 
    padding: 30px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 

}
.logo a{
    color: rgb(71, 71, 71);
    text-decoration: none;
    font-weight: bold;
    float: left;
}

.menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin-right: 25px;
}
.menu a {
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-weight: bold;
}

.menu a:hover {
    color: rgb(255, 196, 0);
    transition: color 0.3s ease;
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */


.home-container {
    /* position: relative; */
    padding-top: 20px;
    justify-content: center;
    text-align: center;

}
.home-data {  
    margin: 20px;
}
.home-title{
    /* font :var(--font-regular) var(--biggest-font-size) var(--second-font);
*/
font-size: x-large;
/* text-shadow: ; */
}



.home-button {
    margin: 30px;

    column-gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button1 , .button1 a{
    padding: 15px 30px;
    border-radius: 45px;
    background-color: rgb(255, 196, 0);
    color: rgb(36, 36, 36);
    text-decoration: none; 
}
.button2 , .button2 a {
    padding: 15px 30px;
    border-radius: 45px;
    border: 3px solid  rgb(0, 0, 0);;
    color: black;
    text-decoration: none; 
}

.home-pic {
    /* position: relative; */
    display: grid;
    place-items: center;
    /* justify-self: center; */
}

.home-circle {
    width: 250px;
    height: 250px;
    background-color: rgb(170, 170, 170);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.home-subcircle {
    width: 190px;
    height: 190px;
    background-color: rgb(255, 196, 0);
    border-radius: 50%;


}

.home-image {
    width: 295px;

rotate: 25deg;
    position: absolute;
}


/* ------------------------------------------------------ */
/* ------------------------------------------------------ */


.care-section {
    margin-top: 60px;
    padding: 25px;
    background-color: rgb(212, 212, 212);
    width: 100%;

}


.care-h {
    text-align: center;
    font-size: larger;
}
.care-h span {
color: rgb(97, 161, 0);

}

.care-container {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 ;

}




.care-item {

    margin: 10px;
    list-style: none;
    display: flex;

    align-items: center;
    column-gap: 16px;
    width: 100%;
}
.care-item i {
    color: rgb(0, 138, 0);
}

.care-img {
    width: 250px;



}



/* ------------------------------------------------------ */
/* ------------------------------------------------------ */



.banner {
margin: 0;
}

.banner-container {
    background-color: rgb(255, 196, 0);
    padding: 8px;
}

.banner-list {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    font-style: bold;
    list-style: none;
}


/* ------------------------------------------------------ */
/* ------------------------------------------------------ */


.product-section {
    margin-top: 50px;
}

.product-h {
    text-align: center;
    margin-bottom: 50px;
}


.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}


.product-card {
    text-align: center;
    margin: 10px 20px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    
}
.product-card:hover {
    transform: translateY(-20px);
}


.product-img {
    width: 100%;
    max-width: 170px; 
    height: auto;
    transition: transform 0.5s ease;
    cursor: pointer;

}

.product-img:hover {
    transform: translateY(-20px);
}





.product-card .pay {
    padding: 15px;
    background-color: #47a44a;
    color: white;
    border-radius: 0 0 25px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card .pay:hover {
    background-color: #53ec06;
}


/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
